{{ 'swiper7.4.1.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper7.4.1.min.js' | asset_url }}" defer="defer"></script>
{{ 'component-product-media-gallery.css' | asset_url | stylesheet_tag }}

<media-gallery data-section-id="{{ section.id }}">
  <div class="swiper main-gallery">
    <div class="swiper-wrapper">
      {% assign media_index = 0 %}
      {% if selected_variant.featured_image != null %}
        <div
          class="swiper-slide"
          data-media-id="{{ selected_variant.featured_media.id }}"
          data-media-index="{{ media_index }}"
        >
          {%- if is_zoom == 'hover' -%}
            <div class="loading__spinner hidden">
              {{ 'icon-loading-spinner.svg' | inline_asset_content }}
            </div>
          {%- endif -%}
          <div class="product-media">
            {%- if is_zoom != 'none' -%}
              <div
                class="light-box-zoom-trigger {% if is_zoom == 'hover' %}hover-zoom-enabled{% endif %}"
                data-media-id="{{ selected_variant.featured_media.id }}"
                data-modal="#ProductModal-{{ section.id }}"
              >
                &nbsp;
              </div>
            {%- endif -%}
            {% render 'component-product-media', media: selected_variant.featured_media, loop: video_looping %}
          </div>
        </div>
        {% assign media_index = media_index | plus: 1 %}
      {% endif %}
      {% for media in product_media %}
        {% unless selected_variant.featured_media.id == media.id %}
          <div
            class="swiper-slide"
            data-media-id="{{ media.id }}"
            data-media-index="{{ media_index }}"
          >
            {%- if is_zoom == 'hover' -%}
              <div class="loading__spinner hidden">
                {{ 'icon-loading-spinner.svg' | inline_asset_content }}
              </div>
            {%- endif -%}
            <div class="product-media">
              {%- if is_zoom != 'none' -%}
                <div
                  class="light-box-zoom-trigger {% if is_zoom == 'hover' %}hover-zoom-enabled{% endif %}"
                  data-media-id="{{ media.id }}"
                  data-modal="#ProductModal-{{ section.id }}"
                >
                  &nbsp;
                </div>
              {%- endif -%}
              {% render 'component-product-media', media: media, loop: video_looping %}
            </div>
          </div>
          {% assign media_index = media_index | plus: 1 %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="swiper-pagination">&nbsp;</div>
    <div class="swiper-button-prev">&nbsp;</div>
    <div class="swiper-button-next">&nbsp;</div>
    {%- if is_zoom != 'none' -%}
      <div class="product__media-icon {% if is_zoom == 'hover' %}hover-zoom-enabled{% endif %}">
        <span class="lightbox-icon">
          <div class="svg-wrapper">
            {{ 'icon-zoom.svg' | inline_asset_content }}
          </div>
        </span>
      </div>
    {%- endif -%}
  </div>

  <!-- Thumbnails Swiper -->
  <div class="swiper thumbs-gallery" style="margin-top: 16px;">
    <div class="swiper-wrapper">
      {% assign thumb_index = 0 %}
      {% if selected_variant.featured_image != null %}
        <div class="swiper-slide thumb-slide" data-media-index="{{ thumb_index }}" data-swiper-slide-index="{{ thumb_index }}">
          <div class="product-media-thumb">
            <img src="{{ selected_variant.featured_media | img_url: '100x100' }}" alt="Thumbnail" width="100" height="100" style="width: 100px; height: 100px; object-fit: cover;" />
          </div>
        </div>
        {% assign thumb_index = thumb_index | plus: 1 %}
      {% endif %}
      {% for media in product_media %}
        {% unless selected_variant.featured_media.id == media.id %}
          <div class="swiper-slide thumb-slide" data-media-index="{{ thumb_index }}" data-swiper-slide-index="{{ thumb_index }}">
            <div class="product-media-thumb">
              <img src="{{ media | img_url: '100x100' }}" alt="Thumbnail" width="100" height="100" style="width: 100px; height: 100px; object-fit: cover;" />
            </div>
          </div>
          {% assign thumb_index = thumb_index | plus: 1 %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>

 
</media-gallery>
